@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 27.9% 16.9%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 221, 97%, 54%;
    --primary-foreground: 0, 0%, 100%;
    --primary-hover: 225, 84%, 49%;
    --primary-50: 213.8 100% 96.9%;
    --primary-100: 214.3 94.6% 92.7%;
    --primary-200: 213.3 96.9% 87.3%;
    --primary-300: 211.7 96.4% 78.4%;
    --primary-400: 213.1 93.9% 67.8%;
    --primary-500: 217.2 91.2% 59.8%;
    --primary-600: 221.2 83.2% 53.3%;
    --primary-700: 224.3 76.3% 48%;
    --primary-800: 225.9 70.7% 40.2%;
    --primary-900: 224.4 64.3% 32.9%;
    --primary-950: 226.2 57% 21%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 0 0% 100%;
    --secondary-50: 210 20% 98%;
    --secondary-100: 220 14.3% 95.9%;
    --secondary-200: 220 13% 91%;
    --secondary-300: 216 12.2% 83.9%;
    --secondary-400: 217.9 10.6% 64.9%;
    --secondary-500: 220 8.9% 46.1%;
    --secondary-600: 215 13.8% 34.1%;
    --secondary-700: 216.9 19.1% 26.7%;
    --secondary-800: 215 27.9% 16.9%;
    --secondary-900: 220.9 39.3% 11%;
    --secondary-950: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0, 0%, 100%;
    --destructive-hover: 0 73.7% 41.8%;
    --destructive-50: 0 85.7% 97.3%;
    --destructive-100: 0 93.3% 94.1%;
    --destructive-200: 0 96.3% 89.4%;
    --destructive-300: 0 93.5% 81.8%;
    --destructive-400: 0 90.6% 70.8%;
    --destructive-500: 0 84.2% 60.2%;
    --destructive-600: 0 72.2% 50.6%;
    --destructive-700: 0 73.7% 41.8%;
    --destructive-800: 0 70% 35.3%;
    --destructive-900: 0 62.8% 30.6%;
    --destructive-950: 0 74.7% 15.5%;
    --success: 160.1 84.1% 39.4%;
    --success-foreground: 215 27.9% 16.9%;
    --success-hover: 141.1 71.4% 48.2%;
    --success-50: 151.8 81% 95.9%;
    --success-100: 149.3 80.4% 90%;
    --success-200: 152.4 76% 80.4%;
    --success-300: 156.2 71.6% 66.9%;
    --success-400: 158.1 64.4% 51.6%;
    --success-500: 160.1 84.1% 39.4%;
    --success-600: 161.4 93.5% 30.4%;
    --success-700: 162.9 93.5% 24.3%;
    --success-800: 163.1 88.1% 19.8%;
    --success-900: 164.2 85.7% 16.5%;
    --success-950: 165.7 91.3% 9%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 218, 11%, 65%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
